{% extends 'index.html.twig' %}

{% block todo %} {% endblock %}

{% block body %}
<h2>Add a new todo</h2>

    {{ form_start(form, {'attr': {
        'novalidate': 'novalidate',
        'class': 'col-lg-5'
    }
    })
    }}
    {{ form_row(form.title) }}
    {{ form_row(form.content) }}


    <button type="submit" class="btn btn-primary" id="create">Créer</button>
    {{ form_end(form) }}
    {% block list %}{% endblock %}
{% endblock %}