
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Todo list{% endblock %}-Index</title>
    {% block stylesheets %}
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    {% endblock %}
</head>
<body>
<header>
    <h1>Todo list</h1>
</header>
{% block body %}Todo list index {% endblock %}

{% block list %}
{% for todo in todos if todo.done == false %}
    <h3>{{ todo.title }}</h3>
    <p>{{ todo.content }}</p>
    <em>{{ todo.date|date("d/m/Y") }}</em>

©
{% endfor %}
{% endblock %}
{% block javascripts %}{% endblock %}
</body>
</html>
