
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Todo list{% endblock %}-Index</title>
    {% block stylesheets %}{% endblock %}
</head>
<body>
{% block body %}Todo list index {% endblock %}
{% block javascripts %}{% endblock %}
</body>
</html>
